body {
  box-sizing: border-box;
  display: block;
  background:#fff;
  color: #333;
  
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

header {
  border-bottom: 1px solid #d4d4d4;
  background: #fff;
  color: rgb(0, 0, 0);

  height: 60px;
  width: 1440;
  background-color: rgba(255, 255, 255, 0.9);
  /* position: fixed; */
  top: 0px;
  z-index: 10;
}

.container {
  width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.header_left {
  float: left;
}

.header_logo {
  float: left;
  font-size: 30px;
}



.header_right {
  float: right;
  padding: 40px;
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

#login {
  font-size: 20px;
}

h1 {
  padding-left: 40px;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

#content {
  padding: 20px;
  background:#ecf7fc;
  width: 1170px;
  /* min-height: 490px; */
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 153.9%;
}

.presentation {
  width: 640px;
  height: 360px;
  background-color: blue;
}

.contributor_message {
  width: 640px;
  height: 200px;
  border: solid 1px #333;
  background: white;
  margin: 10px 0;
}

* html #content {
  height: 490px;
}

p {
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

dl {
  margin-bottom: 10px;
}
dt {
  border-left: 5px solid #106eb7;
  padding-left: 5px;
  margin-bottom: 5px;
}
dd {
  margin-bottom: 0.5em;
}

.required {
  background-color: #BB1850;
  color: #fff;
  font-size: 90%;
  padding: 2px;
  margin-left: 10px;
}

#foot {
  width: 780px;
  text-align: right;
}

th, td {
  border: 1px solid #999;
  padding: 3px;
}

th {
  background-color: #106eb7;
  color: #fff;
  font-weight: bold;
}

li {
  list-style: circle;
  margin-left: 20px;
  margin-bottom: 0.5em;
}

.paging {
  margin-top: 10px;
  text-align: center;
}
.paging li {
  display: inline;
  list-style: none;
}

.error {
  font-size: 90%;
  color: #BB1850;
}

#lead {
  margin-bottom: 1em;
}

.msg {
  clear: both;
  border-top: 1px solid #ccc;
  padding: 10px 0;
}
.msg img {
  float: left;
  margin-right: 5px;
}
.msg p {
  margin: 0;
}
.msg .day,
.msg .day a {
  font-size: 80%;
  color: #999;
}
